<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>职工个人信息修改页面</title>
</head>
<body>

<table border="0" align="center" cellpadding="0">
    <tr>
        <td colspan="2" align="center">

            <H3>欢迎来到职工个人信息修改中心!</H3>

            <h2>职工个人信息修改</h2>
        </td>
    </tr>
    <tr>
        <td>用户名：</td>
        <td><input type="text" name="name" id="name" class="userMsg"/></td>
        <td><span id="name_msg"></span></td>
    </tr>
    <tr>
        <td>密码：</td>
        <td><input type="password" name="pwd" id="pwd" class="userMsg"/></td>
        <td><span id="pwd_msg"></span></td>
    </tr>

    <tr>
        <td>性别：</td>
        <td><input name="sex" type="radio" value="0" checked>男
            <input name="sex" type="radio" value="1">女
        </td>
    </tr>
    <tr>
        <td>年龄：</td>
        <td><input type="text" name="age" id="age" class="userMsg"/></td>
        <td><span id="age_msg"></span></td>
    </tr>
    <tr>
        <td>生日：</td>
        <td><input type="date" name="birthDate" id="birthDate" class="userMsg"/></td>
        <td><span id="birthDate_msg"></span></td>
    </tr>

    <tr>
        <td colspan="3" align="center">
            <input type="submit" name="submit" id="submit" value="提交"/>
            <input type="reset" name="reset" value="重置"/>
        </td>
    </tr>


</table>



</table>

</body>
</html>